* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;;
}

:root {
    --azul-escuro: #031745;
    --branco: #FFFFFF;
    --roxo: #A259FF;
    --azul: #264DE4;
    --amarelo: #FFE770;
    --cinza-escuro: #191919;
    --laranja: #FC490B;
    --preto: #000000;
}

main {
    background-color: var(--cinza-escuro);
    padding: 60px 0;
}
.bg-blue {
    background-color: var(--azul-escuro);
}
.bg-white {
    background-color: var(--branco);
}
.azul {
    color: var(--azul);
}
.roxo {
    color: var(--roxo);
}
.branco{
    color: var(--branco);
}
.laranja {
    color: var(--laranja);
}
.preto {
    color: var(--preto);
}
.amarelo {
    color: var(--amarelo);
}

.titulo {
    font-size: 22px;
    letter-spacing: 1px;
}
.titulo-m {
    font-size: 60px;
}
.titulo-p {
    font-size: 50px;
}
.subtitulo {
    font-size: 40px;
}

.d-flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.gap-p {
    gap: 10px;
}
.s-between {
    justify-content: space-between;
}
.center {
    justify-content: center;
    align-items: center;
}
.a-center {
    align-items: center;
}
.j-center {
    justify-content: center;
}
.a-right {
    align-items: end;
}
.padding-p {
    padding: 10px;
}
.padding-m {
    padding: 30px;
}
.gap-m {
    gap: 80px;
}
.gap-sec {
    gap:40px;
}
.gap-main {
    gap: 60px;
}
.gap-m2 {
    gap: 25px;
}
nav a {
    transition: 0.3s;
}
nav a:hover {
    color: var(--laranja);
}
.bold {
    font-weight: bold;
}
.texto {
    width: 60vw;
    font-size: 22px;
    font-weight: 300;
}
.legenda {
    font-weight: 20px;
}
.img-main {
    width: auto;
    height: 200px;
}
.img-comp {
    width: 800px;
    border-radius: 30px;
}
.img-tt {
    height: 500px;
    width: auto;
    border-radius: 30px;
}
.logo-senai {
    width: 200px;
}
.sublinhado {
    text-decoration: underline;
}
.t-right{
    text-align: right;
}
.t-center {
    text-align: center;
}
footer {
    padding: 30px 0;
}
.logo-git {
    width: 60px;
    height: auto;
}
.legenda {
    font-weight: lighter;
    font-style: italic;
}

@media (max-width: 1025px) {
    .texto {
        font-size: 20px;
    }
    .img-comp {
        width: 650px;
        height: auto;
    }
    .padding-m {
        padding: 20px;
    }
}

@media (max-width: 935px) {
    nav a {
        font-size: 12px;
    }
    .gap-m {
        gap: 40px;
    }
}
@media (max-width: 769px) {
    .titulo {
        font-size: 17px;
    }
    .logo-senai {
        width: 160px;
    }
    .titulo-m {
        font-size: 45px;
    }
    .titulo-p {
        font-size: 35px;
    }
    .texto {
        font-size: 16px;
        width: 60vw;
    }
    .padding-m {
        padding: 20px;
    }
}
@media (max-width: 426px) {
    .d-flex {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .logo-git {
        width: 100px;
        height: auto;
    }
    .c-reverse {
        flex-direction: column-reverse;
    }
    .img-comp {
        width: 90%;
    }
    nav, nav a {
        display: none;
    }
    .header {
        box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.4);
    }
    .bg-white, .gap-m, .padding-p{
        padding: 0;
        gap: 0;
        display: none;
    }
    .texto{
        text-align: center;
        width: 80vw;
    }
    .gap-main {
        gap: 40px;
    }
    .gap-p  {
        gap: 10px;
    }
    .gap-m2, .gap-sec {
        gap: 20px;
    }
    .t-right {
        text-align: center;
    }
    .subtitulo {
        font-size: 25px;
    }
    .titulo {
        font-size: 19px;
    }
    footer {
        padding: 20px 0;
    }
    main {
        padding: 40px 0;
    }
    .titulo-p {
        font-size: 40px;
    }
    .titulo-m {
        font-size: 45px;
    }
    .img-main {
        height: 150px;
        width: auto;
    }
    .img-tt {
        width: 90%;
        height: auto;
    }
    .img-tt, .img-comp {
        border-radius: 15px;
    }
}
@media (max-width: 321px) {
    .titulo {
        font-size: 16px;
    }
    .img-main {
        width: auto;
        height: 120px;
    }
    .titulo-m {
        font-size:40px;
    }
    .titulo-p {
        font-size: 32px;
    }
}